@font-face {
  font-family: Nynala;
  src: url("fonts/00150-UTM-Nyala.ttf");
}

@font-face {
  font-family: flavour;
  src: url("fonts/00100-UTM-Flavour.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nynala;
}
p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #000;
}

/* section 1 */

.section1_wrapper {
  width: 100%;
  background-image: url("images/sec1/group-1-20201127104109.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  padding: 50px 0;
}

.mobile {
  margin: 0 auto;
  top: 300px;
  display: none;
}
.mobile_reasons {
  width: 100%;
}
.reason_mobile {
  width: 50%;
  display: flex;

  align-items: center;
  margin-bottom: 10px;
}
.reason_mobile img {
  width: 30%;
  height: 90%;
}
.reason_mobile_title {
  font-family: flavour;
  color: rgb(154, 16, 16);
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.25) 1px 2px 0;
  margin-bottom: 20px;
}

.reason_mobile p {
  font-size: 9px;
  width: 100%;
}

.section1 {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}

.headline {
  font-size: 23px;
  text-transform: uppercase;
  margin-top: 100px;
  font-weight: 500;
  margin-bottom: 20px;
}

.slogan {
  text-transform: uppercase;
  font-size: 70px;
  font-family: flavour;
  font-weight: bolder;
}

.signup_btn {
  margin-top: 40px;
}

.btn1 {
  position: absolute;
  top: 500px;
  left: 50px;
}

.signup_btn a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: rgb(42, 85, 75);
  padding: 10px 35px;
  font-size: 25px;
  border-radius: 10px;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.signup_btn a:hover {
  /* background-color: burlywood; */
  cursor: pointer;
  transform: scale(1.05);
}

.sub_img {
  position: absolute;
  top: 500px;
  left: 165px;
  z-index: 0;
}

.container_sec1 {
  margin-top: 250px;
}

.intro {
  position: relative;
  z-index: 1;
}

.container .reasons {
  font-family: flavour;
  color: rgb(154, 16, 16);
  font-size: 58px;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}

.reasons {
  margin-bottom: 50px;
}

.reason {
  display: flex;

  align-items: center;
  margin-top: 20px;
}

.reason p {
  font-size: 20px;
}

.reason_row {
  width: 60%;
  margin: 0 auto;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* section 1 */

/* section2 */

.section2 {
  width: 1280px;
}

.section2_wrapper {
  width: 100%;
  background-image: url("images/sec2/layer-3-20201127094111.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.sec2_title {
  font-size: 50px;
  font-family: flavour;
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, 0.25) 6px 5px 4px;
}

.sec2_text {
  font-size: 28px;
  text-align: left;
  margin-top: 50px;
  text-shadow: rgba(0, 0, 0, 0.25) 6px 5px 4px;
}

/* section2 */

/* section3 */

.section3_wrapper {
  width: 100%;
  background-image: url("images/sec3/layer-4-20201127094111.png");
}

.section3 {
  width: 1280px;
  margin: 0 auto;
}

.sec3_image img {
  width: 100%;
}
.content_title {
  font-size: 61px;
  font-weight: bolder;
  font-family: flavour;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: rgba(0, 0, 0, 0.25) 6px 5px 4px;
}
.content_text {
  font-size: 24px;
  width: 40%;
  letter-spacing: 0.05em;
  text-shadow: rgba(0, 0, 0, 0.25) 6px 5px 4px;
  margin: 0 auto;

  /* font-weight: bold; */
}

.container_sec3,
.container_mobile_sec3 {
  margin-top: 100px;
}
.container_sec3 {
  display: none;
}

.sec3_image {
  margin-bottom: 24px;
  transition: transform 0.2s ease-in-out;
}

.sec3_image:hover {
  transform: scale(1.03);

  cursor: pointer;
}
/* section3 */

/* sec4 */

.section4_wrapper {
  width: 100%;
  background-image: url("images/sec3/layer-4-20201127094111.png");
}

.section4 {
  width: 1280px;
  margin: 0 auto;
}

.sec4_item img {
  width: 70%;
}

.sec4_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.section4_title {
  font-size: 65px;
  font-family: flavour;
  font-weight: bolder;
  text-shadow: rgba(0, 0, 0, 0.25) 6px 5px 4px;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 20px;
}

.sec4_title {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}

/* sec4 */

/* sec5 */

.sec5_wrapper {
  height: 1280px;
}

.sec_5_bg {
  position: absolute;
  background-image: url("images/sec5/layer-6-20201127094111.png");
  background-size: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}

.sec5 {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: 0;
  right: 0;
}
.sec5_text {
  position: absolute;

  top: 40%;
  font-size: 64px;
  font-family: flavour;
  right: 0;
  color: #fff;
}
/* sec5 */

/* sec6 */

.sec6_wrapper {
  top: 0;
}

.sec6 {
  width: 1280px;
  margin: 0 auto;
}

.sec6_bg {
  width: 100%;
  background-image: url("images/sec6/layer-7-20201127094111.png");
  position: absolute;
  height: 100%;
  width: 100%;

  z-index: -1;
}

.img_list {
  background-image: url("images/sec6/group-60-20201127105727.png");
  position: absolute;
  height: 100px;
  width: 100%;
  background-repeat: no-repeat;
  /* margin: 0 auto; */
  background-position: center;
  top: 70px;
}

.sec6_title {
  text-align: center;
  font-size: 48px;
  font-family: flavour;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.head {
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  right: 0;
}
span {
  display: inline-block;
}
.headline1 {
  left: 6.25%;
  top: 150px;
}

.headline2 {
  left: 25.7%;
  top: 150px;
}

.headline3 {
  left: 46%;
  top: 150px;
}

.headline4 {
  left: 67%;
  top: 150px;
}

.headline5 {
  left: 86.7%;
  top: 150px;
}

.about_title {
  text-align: center;
  margin-top: 230px;
  font-size: 65px;
  text-transform: uppercase;
  font-family: "flavour";
  margin-bottom: 20px;
  text-shadow: rgba(0, 0, 0, 0.25) 3px 3px 0;
}
.about_container {
  width: 80%;
}

.content_img {
  width: 100%;
}

.content_about_title {
  font-size: 23px;
  text-align: left;
  font-weight: bold;
}

.content_about_text {
  font-size: 20px;
  text-align: left;

  margin-top: 20px;
}

.row2 {
  margin-top: 24px;
}
.subcontent_about_title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subcontent_about_text {
  font-size: 18px;
}

.counterparty_title {
  text-align: center;
  font-size: 65px;
  font-family: flavour;
  margin-top: 200px;
  text-shadow: rgba(0, 0, 0, 0.25) 3px 4px 0;
}
.customer_container {
  width: 80%;
  margin-top: 50px;
}
.people {
  text-align: center;
}
.people img {
  width: 100%;
}

.name {
  font-size: 40px;
}
.role {
  font-size: 28px;

  font-weight: bold;
}
.opinion {
  font-size: 20px;
  text-align: inherit;
  margin-bottom: 50px;
}

/* sec6 */

/* sec7 */

.sec7_wrapper {
  background-image: url("images/sec3/layer-4-20201127094111.png");
  width: 100%;
}
.sec7 {
  width: 1280px;
}

.sec7_left {
  width: 50%;
}

.left_title {
  font-size: 43px;
  font-family: flavour;
  text-align: center;
  color: rgb(154, 16, 16);
  font-size: 43px;
  text-shadow: rgba(0, 0, 0, 0.25) 3px 2px 0;
  font-weight: bold;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input,
textarea {
  /* background-color: red; */
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  background-image: url("images/sec3/layer-4-20201127094111.png");
  font-family: Nynala;
  font-weight: bold;
}

input:focus,
textarea:focus {
  outline: none;
}

.register {
  padding-top: 50px;
}

/* sec7 */

/* footer */

footer {
  background-image: url("images/sec6/layer-7-20201127094111.png");
  background-position: bottom;
}

hr {
  border: 1px solid black;
  opacity: 0.5;
}

.fter {
  width: 1280px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer_left {
  font-size: 18px;
}

.footer_right {
  font-size: 18px;
  font-weight: bold;
}

/* footer */

.fa-phone-volume:before {
  content: "\f2a0";
  font-size: 40px;
}

.call_btn {
  position: fixed;
  bottom: 26px;
  left: 52px;
  width: 80px;
  height: 80px;
  background: rgb(42, 85, 75);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.call_btn::after,
.call_btn::before {
  content: "";
  display: block;
  border: 50%;
  position: absolute;
  border: 1px solid rgb(42, 85, 75);
  top: -10px;
  right: -10px;
  left: -10px;
  bottom: -10px;
  border-radius: 50%;
  animation: animate 1.2s linear infinite;
}
.sec6_mobile {
  display: none;
}
.sec6_mobile_title {
  font-size: 27px;
  text-align: center;
  font-family: flavour;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.25) 1px 2px 0;
  padding-top: 50px;
}

.children {
  position: relative;
  right: 0;
}

.child {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: justify;
}

.child::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: rgb(154, 16, 16);
  padding-left: 20px;
  padding-right: 20px;
}
@keyframes animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.tornpaper {
  position: absolute;
  display: none;
}

.small_house {
  display: none;
}
.container_sec1_mobile {
  display: none;
}

@media (min-width: 1024px) and (max-width: 1239px) {
}
@media (min-width: 740px) and (max-width: 1023px) {
}
@media (max-width: 767px) {
}
@media (max-width: 599px) {
  .section1,
  .sec1_wrapper,
  .section2,
  .section2_wrapper,
  .section3,
  .section3_wrapper,
  .section4,
  .sec5,
  .sec6,
  .sec7,
  .fter,
  .footer,
  .mobile {
    width: 330px;
    background-image: none;
    margin: 0 auto;
  }
  .sec5_wrapper {
    height: 215px;
  }
  .sec7 {
    flex-wrap: wrap;
  }
  .sec7_left {
    width: 100%;
    order: 2;
  }

  .sec7_right img {
    width: 100%;
    order: 1;
    margin-top: 50px;
  }

  .left_title {
    font-size: 27px;
  }
  .register {
    padding-top: 25px;
  }
  label {
    font-size: 13px;
  }

  .footer_things {
    flex-wrap: wrap;
  }

  .footer_right {
    text-align: left;
  }
  .sec7_wrapper {
    padding-bottom: 10px;
  }

  .call_btn {
    left: 22px;
  }

  .fter {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .sec_5_bg {
    background-repeat: no-repeat;
  }
  .mobile {
    display: block;
  }

  .sec6_mobile {
    display: block;
  }
  .sec5_text {
    position: absolute;
    top: 19%;
    font-size: 25px;
    font-family: flavour;
    right: -6px;
    color: #fff;
  }

  .section2_wrapper {
    margin-top: 260px;
    width: 100%;
    background-image: url("images/sec2/layer-3-20201127094111 (1).png");
    margin-left: auto;
    margin-right: auto;
  }
  .section3_wrapper {
    width: auto;
    margin: 0 auto;
    background-image: url("images/sec3/layer-4-20201127094111.png");
  }
  .sec6_title {
    display: none;
  }
  .img_list {
    display: none;
  }
  .head {
    display: none;
  }

  .section1_wrapper {
    background-image: url("images/responsive/200723_kafa_photos_vnmap_0-3-20201128084156.png");
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0px;
    left: 0px;
    padding: 0;
  }

  .container_mobile_sec3 {
    display: none;
  }

  .mobile {
    z-index: 999;
  }

  .container_sec3 {
    display: block;
  }

  .intro img {
    width: 30%;
  }
  .headline {
    font-size: 14px;
    margin-top: 30px;
  }

  .slogan {
    font-size: 35px;
    text-shadow: rgba(0, 0, 0, 0.25) 3px -1px 0;
  }
  .signup_btn {
    margin: 0;
    margin-top: 10px;
  }
  .signup_btn a {
    padding: 7px 6px;
    font-size: 12px;
  }

  .small_house {
    display: block;
    width: 75%;
    position: absolute;
    right: 0;
    z-index: 999;

    top: 236px;
  }

  .sub_img {
    width: 82%;
    top: 449px;
    left: 0;
  }
  .container .reasons {
    font-family: flavour;
    color: rgb(154, 16, 16);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  }

  .section2 {
    padding-top: 70px;
  }

  .section4_title {
    font-size: 27px;
    font-family: flavour;
    font-weight: bolder;
    text-shadow: rgba(0, 0, 0, 0.25) 6px 5px 4px;
    text-align: center;
    padding-top: 16px;
    margin-bottom: 20px;
  }
  /* .reason {
    flex-direction: column;
    text-align: center;
  } */
  .reason_row {
    width: 100%;
  }
  .reasons {
    margin-bottom: 0px;
  }
  .reason p {
    font-size: 13px;
  }
  .reason img {
    width: 20%;
  }
  .tornpaper {
    position: absolute;
    display: block;
    height: 100%;
    top: 340px;
    width: 100%;
  }

  .sec2_text {
    margin-top: 10px;
    font-size: 13px;
    text-align: justify;
  }
  .sec2_title {
    font-size: 27px;
  }
  .sec2_right {
    width: 40%;
  }
  .sec2_left {
    width: 60%;
  }

  .sec2_right img {
    width: 100%;
  }

  .content_title {
    font-size: 27px;
    padding-top: 40px;
  }
  .content_text {
    font-size: 13px;
    width: 100%;
  }
  .container_sec3 {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  .container_sec1 {
    margin-top: 300px;
  }

  .container_sec1_mobile {
    display: block;
  }
  .container_sec1 {
    display: none;
  }

  .about_title {
    margin-top: 50px;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .about_container {
    width: 100%;
  }
  .content_about_title {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .content_about_text {
    font-size: 17px;
    text-align: left;
    margin-top: 2px;
  }
  .subcontent_about_title {
    font-size: 20px;
  }
  .subcontent_about_text {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .sec6_wrapper {
    height: max-content;
  }
  .counterparty_title {
    text-align: center;
    font-size: 27px;
    font-family: flavour;
    margin-top: 50px;
    text-shadow: rgba(0, 0, 0, 0.25) 1px 2px 0;
  }
  .customer_container {
    width: 100%;
  }
  .name {
    font-size: 27px;
  }
  .role {
    font-size: 20px;
  }
  .opinion {
    font-size: 17px;
    margin-bottom: 20px;
  }
}
