@font-face {
  font-family: Nynala;
  src: url("fonts/00150-UTM-Nyala.ttf");
}

@font-face {
  font-family: flavour;
  src: url("fonts/00100-UTM-Flavour.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nynala;
}
p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #000;
}

/* section 1 */

.section1_wrapper {
  width: 100%;
  background-image: url("images/sec1/group-1-20201127104109.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  padding: 50px 0;
}

.section1 {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}

.headline {
  font-size: 23px;
  text-transform: uppercase;
  margin-top: 100px;
  font-weight: 500;
  margin-bottom: 20px;
}

.slogan {
  text-transform: uppercase;
  font-size: 70px;
  font-family: flavour;
  font-weight: bolder;
}

.signup_btn {
  margin-top: 40px;
}

.signup_btn a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: rgb(42, 85, 75);
  padding: 10px 35px;
  font-size: 25px;
  border-radius: 10px;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.signup_btn a:hover {
  /* background-color: burlywood; */
  cursor: pointer;
  transform: scale(1.05);
}

.sub_img {
  position: absolute;
  top: 500px;
  left: 165px;
  z-index: 0;
}

.container_sec1 {
  margin-top: 250px;
}

.intro {
  position: relative;
  z-index: 1;
}

.container .reasons {
  font-family: flavour;
  color: rgb(154, 16, 16);
  font-size: 58px;
  font-weight: bold;
  text-align: center;
  line-height: 1.6;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
}

.reasons {
  margin-bottom: 50px;
}

.reason {
  display: flex;

  align-items: center;
  margin-top: 20px;
}

.reason p {
  font-size: 20px;
}

.reason_row {
  width: 60%;
  margin: 0 auto;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* section 1 */

/* section2 */

.section2 {
  width: 1280px;
}

.section2_wrapper {
  width: 100%;
  background-image: url("images/sec2/layer-3-20201127094111.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.sec2_title {
  font-size: 50px;
  font-family: flavour;
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, 0.25) 6px 5px 4px;
}

.sec2_text {
  font-size: 28px;
  text-align: left;
  margin-top: 50px;
  text-shadow: rgba(0, 0, 0, 0.25) 6px 5px 4px;
}

/* section2 */

/* section3 */

.section3_wrapper {
  width: 100%;
  background-image: url("images/sec3/layer-4-20201127094111.png");
}

.section3 {
  width: 1280px;
  margin: 0 auto;
}

.sec3_image img {
  width: 100%;
}
.content_title {
  font-size: 61px;
  font-weight: bolder;
  font-family: flavour;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-shadow: rgba(0, 0, 0, 0.25) 6px 5px 4px;
}
.content_text {
  font-size: 24px;
  width: 40%;
  letter-spacing: 0.05em;
  text-shadow: rgba(0, 0, 0, 0.25) 6px 5px 4px;
  margin: 0 auto;

  /* font-weight: bold; */
}

.container_sec3 {
  margin-top: 100px;
}

.sec3_image {
  margin-bottom: 24px;
}
/* section3 */

/* sec4 */

.section4_wrapper {
  width: 100%;
  background-image: url("images/sec3/layer-4-20201127094111.png");
}

.section4 {
  width: 1280px;
  margin: 0 auto;
}

.sec4_item img {
  width: 70%;
}

.sec4_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.section4_title {
  font-size: 65px;
  font-family: flavour;
  font-weight: bolder;
  text-shadow: rgba(0, 0, 0, 0.25) 6px 5px 4px;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 20px;
}

.sec4_title {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}

/* sec4 */

/* sec5 */

.sec5_wrapper {
  height: 1280px;
}

.sec_5_bg {
  position: absolute;
  background-image: url("images/sec5/layer-6-20201127094111.png");
  background-size: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}

.sec5 {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: 0;
  right: 0;
}
.sec5_text {
  position: absolute;

  top: 40%;
  font-size: 64px;
  font-family: flavour;
  right: 0;
  color: #fff;
}
/* sec5 */

/* sec6 */

.sec6_wrapper {
  top: 0;
}

.sec6 {
  width: 1280px;
  margin: 0 auto;
}

.sec6_bg {
  width: 100%;
  background-image: url("images/sec6/layer-7-20201127094111.png");
  position: absolute;
  height: 100%;
  width: 100%;

  z-index: -1;
}

.img_list {
  background-image: url("images/sec6/group-60-20201127105727.png");
  position: absolute;
  height: 100px;
  width: 100%;
  background-repeat: no-repeat;
  /* margin: 0 auto; */
  background-position: center;
  top: 70px;
}

.sec6_title {
  text-align: center;
  font-size: 48px;
  font-family: flavour;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.head {
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  right: 0;
}
span {
  display: inline-block;
}
.headline1 {
  left: 6.25%;
  top: 150px;
}

.headline2 {
  left: 25.7%;
  top: 150px;
}

.headline3 {
  left: 46%;
  top: 150px;
}

.headline4 {
  left: 67%;
  top: 150px;
}

.headline5 {
  left: 86.7%;
  top: 150px;
}

.about_title {
  text-align: center;
  margin-top: 230px;
  font-size: 65px;
  text-transform: uppercase;
  font-family: "flavour";
  margin-bottom: 20px;
  text-shadow: rgba(0, 0, 0, 0.25) 3px 3px 0;
}
.about_container {
  width: 80%;
}

.content_img {
  width: 100%;
}

.content_about_title {
  font-size: 23px;
  text-align: left;
  font-weight: bold;
}

.content_about_text {
  font-size: 20px;
  text-align: left;

  margin-top: 20px;
}

.row2 {
  margin-top: 24px;
}
.subcontent_about_title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.subcontent_about_text {
  font-size: 18px;
}

.counterparty_title {
  text-align: center;
  font-size: 65px;
  font-family: flavour;
  margin-top: 200px;
  text-shadow: rgba(0, 0, 0, 0.25) 3px 4px 0;
}
.customer_container {
  width: 80%;
  margin-top: 50px;
}
.people {
  text-align: center;
}
.people img {
  width: 100%;
}

.name {
  font-size: 40px;
}
.role {
  font-size: 28px;

  font-weight: bold;
}
.opinion {
  font-size: 20px;
  text-align: inherit;
}

/* sec6 */

/* sec7 */

.sec7_wrapper {
  background-image: url("images/sec3/layer-4-20201127094111.png");
  width: 100%;
}
.sec7 {
  width: 1280px;
}

.sec7_left {
  width: 50%;
}

.left_title {
  font-size: 43px;
  font-family: flavour;
  text-align: center;
  color: rgb(154, 16, 16);
  font-size: 43px;
  text-shadow: rgba(0, 0, 0, 0.25) 3px 2px 0;
  font-weight: bold;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input,
textarea {
  /* background-color: red; */
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  background-image: url("images/sec3/layer-4-20201127094111.png");
  font-family: Nynala;
  font-weight: bold;
}

input:focus,
textarea:focus {
  outline: none;
}

.register {
  padding-top: 50px;
}

/* sec7 */

/* footer */

footer {
  background-image: url("images/sec6/layer-7-20201127094111.png");
  background-position: bottom;
}

hr {
  border: 1px solid black;
  opacity: 0.5;
}

.fter {
  width: 1280px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer_left {
  font-size: 18px;
}

.footer_right {
  font-size: 18px;
  font-weight: bold;
}

.footer_left::first-line {
  font-weight: bold;
}

/* footer */
